.menu {
	
}

nav.menu {
	background: none repeat scroll 0% 0% #EFEFEF;
}

.toggleMenuButton {
	
}

nav.menu>ul>li {
	background-color: #EFA40D
}

nav.menu>ul>li:hover .title{
	background-color: #F3AF3E;
}

nav.menu > ul > li.active .title, nav > ul > li.active .title{
	background-color: black;
}

nav.menu.horizontal>ul>li {
	display: inline-block;
	padding-left: 0;
	padding-right: 0;
	margin-left: 10px;
	margin-left: 10px;
}
nav.menu>ul>li{
	margin-top: 8px;
}

nav.menu>ul>li .Gwt-MenuItem-Label {
	padding-left: 10px;
	padding-right: 10px;
}

nav.menu.horizontal>ul>li .title{
	padding-top: 10px;
	height: 30px;
}

nav.menu.horizontal>ul>li{
	height: 40px;
}

.disclosureMenu {
	width: 32px;
	background-color: red;
}

.disclosureMenu.active {
	width: auto;
}